<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Zeneggen.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>435BC8AB1C7CA5C100030E88</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>435BC8C21C7CA5C200030E88</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>435BC8CD1C7CA5C200030E88</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
